body{
        margin: 0;
        padding: 0;
        background-color: #fffde9;
}
.logo{
        font-weight: 400;
        font-size: 32px;
        line-height: 76.34px;
        font-family: 'Rock Salt', cursive;
}
.salad_menu{
        display: flex;
        gap: 40px;
        list-style: none;
        align-items: center;

}


.menu_children{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: black;
        font-family: poppins;
}
.menu_children:hover{
        border: 2px solid #1A5D1A;
        /* border-color: #1A5D1A; */
        padding: 10px 16px;
        border-radius: 16px;
        color: green;
}
.menu_icon1, .menu_icon2{
        width: 30px;
        height: 30px;
}
.menu_icon3{
        width: 48px;
        height: 48px;
}
header{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}
.hero_sect{
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}
.sect_hero1{
        width: 55%;

}

.h_child{
        font-size: 72px;
        font-family: poppins;
        font-weight: 700;
        line-height: 108px;
        color: #1A5D1A;
        width: 640px;
}
#best{
        color:rgba(103, 203, 103, 1);

}
#best2{
        color: rgba(241, 201, 59, 1);
}
.p_child{
        font-size: 20px;
        font-family: poppins;
        line-height: 30px;
        font-weight: 500;
        width: 640px;
}

.sect_hero2{
        width: 45%;
}
.sect2_img{
        width: 798px;
        margin-left: -50px;
}
.serv{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-weight: 500;
        font-family: poppins;
}
.serv_head{
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        font-family: poppins;
}
.serv_p{
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;

}
.minor_parent{
        display: flex;
        width: 90%;
        margin-left:auto ;
        margin-right: auto;
        justify-content: space-between;
}
.minor_img{
        width: 280px;
        height: 280px;
}
.minor_price{
        font-family: Poppins;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        text-align: center;
}
.bar{
        width: 640px;
        height: 6px;
        background-color:#D9D9D9;
        border-radius: 20px;
        /* margin-bottom: 20px; */
        margin: 0 auto  20px auto;
}
.bar_span{
        width: 100px;
        height: 5px;
        background-color: green;
        border-radius: 10px;
}

.menu p{
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
}

.menu h1{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 122.222% */
}

.btns {
        display: flex;
        padding: 12px 36px;
        justify-content: center;
        align-items: center;
        gap: 30px;
}

.all {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        color: white;
        width: 150px;
        height: 48px;
        border-radius: 36px;
        border-right: 4px solid #FFD12D;
        border-bottom: 4px solid #FFD12D;
        background: var(--Green, #1A5D1A);
}

.button {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        color: #1A5D1A;
        width: 180px;
        height: 45px;
        background-color: #fffde9;
        border-radius: 36px;
        border: 1px solid #1A5D1A;

}
#reserve{
        font-family: Poppins;
        text-align: center;
        line-height: 44px;
        font-size: 36px;
        font-weight: 500;
}

.card1 {
        width: 500px;
        height: 240px;
        flex-shrink: 0;
        border-radius: 36px;
        border-right: 8px solid #1A5D1A;
        border-bottom: 8px solid #1A5D1A;
        background: var(--Light, #FEFEFE);
}

.card_text {
        display: flex;
        gap: 10px;
        padding-left: 20px;
}

.card_text p{
        color: var(--Green, #1A5D1A);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        width: 232px;
        height: 67px;
}

.big_image {
        display: flex;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 80px;
}

.boxes {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3px 10px;
}

.img_child1 {
        display: flex;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        width: 500px;
        height: 220px;
        padding-right: 20px;
        flex-shrink: 0;
        border-radius: 36px;
        border-right: 8px solid #1A5D1A;
        border-bottom: 8px solid #F1C93B;
        background: #FEFEFE;
}



.img_child {
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        margin-top: 20px;
        display: flex;
        flex-shrink: 0;
        border-radius: 36px;
        width: 530px;
        height: 240px;
        background:  #FEFEFE;
}

.img_child {
        width: 530px;
        height: 220px;
        
}

.special {
        padding-left: 40px;
}

.rectangle {
        padding-left: 20px;
        margin-top: 10px;
}

.special h5 {
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        color: #1A5D1A;
        width: 232px;
        height: 67px;
}

.special p {      
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        color: #F1C93B;
}

#reserve_child{
        font-size: 16px;
        line-height: 24px;
        font-family: Poppins;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.15px;
        width: 860px;
        margin-left: auto;
        margin-right: auto;
}
.my_form{
        width: 860px;
        margin-left: auto;
        margin-right: auto;
}
.ema{
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 141.667% */
        color: #84818A;
        width: 835px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid grey;
        padding-left: 20px;
}

.identity {
        display: flex;
        align-items: flex-start;
        gap: 20px;
}

.name {
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 141.667% */
        color: #84818A;
        width: 600px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid grey;
        padding-left: 20px;
}

.lname {
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 141.667% */
        color: #84818A;
        width: 600px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid grey;
        padding-left: 20px;
}

.number{
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 141.667% */
        color: #84818A;
        width: 835px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid grey;
        padding-left: 20px;
}

textarea {
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 141.667% */
        color: #84818A;
        width: 835px;
        height: 200px;
        border-radius: 10px;
        border: 1px solid grey;
        padding-left: 20px;
}

#submit {
        display: flex;
        justify-content: center;
        padding-right: 30px;
        margin-top: 20px;
        color:#FEFEFE;       
}

button {
        /* Mobile body large */
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 0.15px;
        color:#FEFEFE;
        background-color: #1A5D1A;
        border-radius: 16px;
        border: 1px solid #1A5D1A;
        width: 130px;
        height: 42px;
        cursor: pointer;
}

.builder2 {
        display: flex;
}

.flex {
        margin-top: 30px;
        display: flex;
}


footer {
        margin-top: 20px;
        background-color: #1A5D1A;
}

.logo1 {
        font-weight: 400;
        font-size: 32px;
        line-height: 76.34px;
        font-family: 'Rock Salt', cursive;
        padding-left: 50px;
}

#salad {
        display: flex;
        justify-content: space-between;
}

.frame {
        margin-top: 45px;
}

#send {
        display: inline-flex;
        align-items: center;
        gap: 32px;
        padding-left: 50px;
}

.news {
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FEFEFE;
        opacity: ;
}

#send_btn {
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #010101;
        display: flex;
        gap: 230px;
        width: 390px;
        padding-left: 15px;
        border-radius: 36px;
        background-color: white;
}

#email {
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #010101;
        opacity: 0.55;
}

.FOOTER {
        display: flex;
        justify-content: space-between;
        width: 1618px;
        margin-top: 40px;
        padding-left: 50px;
}

#footer2 {
        font-family: DM Sans, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        gap: 41px;
        color: #FEFEFE;
}

.info {
       display: inline-flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 40px;
}

.address {
       display: flex;
       gap: 16px;
       align-items: baseline;
       font-family: DM Sans;
       font-size: 14px;
       font-style: normal;
       font-weight: 400;
       color: #FEFEFE;
       line-height: 22px; /* 157.143% */
}
 
.copyright {
        font-family: Assistant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FEFEFE;
        padding-left: 400px;
        opacity: 0.5;

}
